absl-py==2.1.0
alembic==1.13.2
aniso8601==9.0.1
appnope @ file:///home/conda/feedstock_root/build_artifacts/appnope_1707233003401/work
asciitree==0.3.3
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1698341106958/work
attrs==23.2.0
beautifulsoup4==4.12.3
black==24.4.2
blinker==1.8.2
cachetools==5.3.3
certifi==2024.7.4
cfgv==3.4.0
charset-normalizer==3.3.2
clearml==1.16.3rc2
click==8.1.7
cloudpickle==3.0.0
colorlog==6.8.2
comm @ file:///home/conda/feedstock_root/build_artifacts/comm_1710320294760/work
contourpy==1.2.1
coverage==7.5.4
cycler==0.12.1
debugpy @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/debugpy_1699267934478/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
Deprecated==1.2.14
distlib==0.3.8
docker==7.1.0
einops==0.8.0
entrypoints==0.4
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1704921103267/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1698579936712/work
fasteners==0.19
filelock==3.11.0
fire==0.6.0
flake8==7.1.0
flake8-bugbear==24.2.6
flake8-comprehensions==3.15.0
Flask==3.0.3
fonttools==4.53.1
fsspec==2024.6.1
furl==2.1.3
gdown==5.2.0
gitdb==4.0.11
GitPython==3.1.43
graphene==3.3
graphql-core==3.2.3
graphql-relay==3.2.0
greenlet==3.0.3
grpcio==1.64.1
gunicorn==22.0.0
h5py==3.11.0
huggingface-hub==0.23.4
identify==2.6.0
idna==3.7
imagecodecs==2024.6.1
imageio==2.34.2
immutabledict==4.2.0
importlab==0.8.1
importlib_metadata==7.1.0
ipykernel @ file:///Users/runner/miniforge3/conda-bld/ipykernel_1719845458456/work
ipython @ file:///home/conda/feedstock_root/build_artifacts/ipython_1719582526268/work
isort==5.13.2
itk==5.4.0
itk-core==5.4.0
itk-filtering==5.4.0
itk-io==5.4.0
itk-numerics==5.4.0
itk-registration==5.4.0
itk-segmentation==5.4.0
itsdangerous==2.2.0
jedi @ file:///home/conda/feedstock_root/build_artifacts/jedi_1696326070614/work
Jinja2==3.1.4
joblib==1.4.2
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
jupyter_client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1716472197302/work
jupyter_core @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_80l8bw91xp/croot/jupyter_core_1718818299834/work
kiwisolver==1.4.5
lazy_loader==0.4
libcst==1.4.0
lmdb==1.5.1
lpips==0.1.4
Mako==1.3.5
Markdown==3.6
MarkupSafe==2.1.5
matplotlib==3.9.1
matplotlib-inline @ file:///home/conda/feedstock_root/build_artifacts/matplotlib-inline_1713250518406/work
mccabe==0.7.0
MetricsReloaded @ git+https://github.com/Project-MONAI/MetricsReloaded@090a9a7eb33530434f02d9ab33e1bd7afbe302be
mlflow==2.14.2
monai==1.3.2
monai-generative @ git+https://github.com/Project-MONAI/GenerativeModels.git@7428fce193771e9564f29b91d29e523dd1b6b4cd
mpmath==1.3.0
msgspec==0.18.6
mypy==1.10.1
mypy-extensions==1.0.0
nest_asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1705850609492/work
networkx==3.1
nibabel==5.2.1
ninja==1.11.1.1
nodeenv==1.9.1
nptyping==2.5.0
numcodecs==0.12.1
numpy==1.26.0
nvidia-ml-py==12.555.43
onnx==1.16.1
openslide-python==1.3.1
opentelemetry-api==1.25.0
opentelemetry-sdk==1.25.0
opentelemetry-semantic-conventions==0.46b0
optuna==3.6.1
orderedmultidict==1.0.1
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1718189413536/work
pandas==2.2.2
parameterized==0.9.0
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1712320355065/work
pathlib2==2.3.7.post1
pathspec==0.12.1
pep8-naming==0.14.1
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1706113125309/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
pillow==10.4.0
platformdirs==3.11.0
pre-commit==3.7.1
prompt_toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1718047967974/work
protobuf==4.25.3
psutil @ file:///Users/builder/cbouss/perseverance-python-buildout/croot/psutil_1699246686105/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pyamg==5.2.1
pyarrow==15.0.2
pycnite==2024.7.9
pycodestyle==2.12.0
pydicom==2.4.4
pydot==2.0.0
pyflakes==3.2.0
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1714846767233/work
PyJWT==2.8.0
pynrrd==1.0.0
pyparsing==3.1.2
PySocks==1.7.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1709299778482/work
pytorch-ignite==0.4.11
pytype==2024.4.11
pytz==2024.1
PyYAML==6.0.1
pyzmq @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_c7mhasdker/croot/pyzmq_1705605099593/work
querystring-parser==1.2.4
referencing==0.35.1
requests==2.32.3
rpds-py==0.19.0
ruff==0.5.1
scikit-image==0.24.0
scikit-learn==1.5.1
scipy==1.14.0
setuptools==70.3.0
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
smmap==5.0.1
soupsieve==2.5
SQLAlchemy==2.0.31
sqlparse==0.5.0
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1669632077133/work
sympy==1.13.0
tabulate==0.9.0
tensorboard==2.17.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
termcolor==2.4.0
threadpoolctl==3.5.0
tifffile==2024.7.2
toml==0.10.2
torch==2.2.2
torchvision==0.17.2
tornado @ file:///private/var/folders/c_/qfmhj66j0tn016nkx_th4hxm0000gp/T/abs_7e0ruwlfee/croot/tornado_1718740118099/work
tqdm==4.66.4
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1713535121073/work
typeguard==2.13.3
types-pkg-resources==0.1.3
types-PyYAML==6.0.12.20240311
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1717802530399/work
tzdata==2024.1
urllib3==2.2.2
virtualenv==20.23.0
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1704731205417/work
Werkzeug==3.0.3
wheel==0.43.0
wrapt==1.16.0
zarr==2.18.2
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1718013267051/work
